.trigger {
  width: max-content;
  border: 2px solid var(--c-lapis-lazuli);
  border-radius: var(--br-m);
  width: 100%;
}

.trigger:hover {
  background: var(--c-mint-green);
}

.trigger.selected {
  background: var(--c-orange-wheel);
}

.mapIcon {
  width: 16px;
}

.contentContainer {
  background: var(--c-white);
  border-radius: var(--br-m);
}

.item {
  color: var(--c-white);
  cursor: pointer;
  border-radius: var(--br-m);
}

.item:hover {
  background: var(--c-mint-green);
  color: var(--c-lapis-lazuli);
}
