.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--g-m);
  margin: 0 0 var(--footer-height);
}

.container:has(> *:only-child) {
  justify-content: center;
  align-items: center;
}

.day {
  font-weight: var(--fw-500);
  color: var(--c-orange-wheel);
}

.dayActivities {
  border: 1px solid var(--c-lapis-lazuli);
  border-radius: var(--br-m);
  margin: var(--m-xl) 0 0;
  padding: var(--p-m);
  display: flex;
  flex-direction: column;
  gap: var(--g-s);
}

.sectionTitle {
  font-size: var(--fs-l);
  font-weight: var(--fw-500);
}

.activity {
  padding: 0 0 0 var(--p-m);
  display: inline-block;
  border: none;
}

.activityTitle {
  font-size: var(--fs-l);
  color: var(--c-mint-green);
}

.times {
  color: var(--c-orange-wheel);
}

.period {
  font-size: var(--fs-s);
  font-weight: var(--fw-700);
}
