.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--g-m);
  margin: var(--m-xl) 0 var(--footer-height);
}

.container:has(> *:only-child) {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.day {
  font-weight: var(--fw-500);
  color: var(--c-orange-wheel);
}

.dayActivities {
  border: 1px solid var(--c-lapis-lazuli);
  border-radius: var(--br-m);
  margin: var(--m-xl) 0 0;
  padding: var(--p-m);
  display: flex;
  flex-direction: column;
  gap: var(--g-s);
}

.sectionTitle {
  font-size: var(--fs-l);
  font-weight: var(--fw-500);
}

.activity {
  border: 1px solid var(--c-mint-green);
  border-radius: var(--br-m);
  padding: var(--p-s);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activityTitle {
  font-size: var(--fs-l);
  color: var(--c-mint-green);
}

.paid {
  font-size: var(--fs-s);
  text-transform: uppercase;
}

.times {
  color: var(--c-orange-wheel);
}

.description {
  font-family: var(--ff-CorporativeAlt);
}

.footer {
  display: flex;
  margin: var(--m-l) 0 0;
  justify-content: flex-end;
  align-items: flex-end;
}

.link {
  padding: var(--p-s);
  display: inline-block;
}

.period {
  font-size: var(--fs-s);
  font-weight: var(--fw-700);
}
