.popoverTrigger {
  width: 100%;
  border-radius: var(--br-m);
  border: 2px solid var(--c-lapis-lazuli);
  font-weight: var(--fw-400);
}

.popoverTrigger:hover {
  background: var(--c-mint-green);
}

.button {
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  height: var(--button-height);
}

.calendarIcon {
  width: 16px;
}

.range {
  white-space: wrap;
}

.chevronDown {
  opacity: 0.5;
}

.popoverContent {
  padding: 0;
  border: none;
  background: var(--c-white);
  border-radius: var(--br-m);
}

.calendar {
  border: 1px solid var(--c-lapis-lazuli);
  border-radius: var(--br-m);
}

.root {
  width: 100%;
}

.headCell {
  width: 100%;
  font-size: var(--fs-s);
}

.month {
  text-transform: capitalize;
  width: 100%;
}
/* Thanks Tailwind :) */
.month > * + * {
  margin-top: var(--m-xl);
}

.daySelected {
  background: var(--c-mint-green);
}

.dayRangeStart {
  background: var(--c-mint-green);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.dayRangeMiddle {
  background: var(--c-orange-wheel);
}

.dayRangeEnd {
  background: var(--c-mint-green);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.cell {
  width: 100%;
  height: auto;
}

.dayToday:not(.dayRangeMiddle) {
  border: 2px solid var(--c-orange-wheel);
  border-radius: 50%;
}

.dayOutside {
  opacity: 0.5;
}

.day {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
}
.day:not(.daySelected):hover {
  background: var(--c-mint-green);
}
