.container {
  background: var(--c-mint-green);
  padding: var(--p-m);
  border-radius: var(--br-m);
  width: 100%;
  z-index: 1;
}

.title {
  font-size: 30px;
  font-weight: var(--fw-700);
  line-height: 1;
}

.link {
  font-family: var(--ff-CorporativeAlt);
  border-bottom: 1px solid var(--c-lapis-lazuli);
}

.link:hover {
  border-bottom: 1px solid var(--c-orange-wheel);
}
