.container {
  background: var(--c-mint-green);
  padding: var(--p-m) var(--p-xs);
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.inner {
  max-width: var(--app-width);
  margin: auto;
}

.title {
  font-size: 30px;
  font-weight: var(--fw-700);
  line-height: 1;
}
