.swipeableContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.swipeableSlides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  flex: 1;
}

.swipeableSlide {
  min-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  opacity: 0.8;
  transform: scale(0.95);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.dotsContainer {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--g-s);
  z-index: 10;
  background: white;
  width: 100%;
  justify-content: center;
  padding: 4px;
  max-width: var(--app-width);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--c-lapis-lazuli);
  opacity: 0.3;
  cursor: pointer;
  border: none;
  padding: 0;
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.activeDot {
  opacity: 1;
  transform: scale(1.2);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  max-width: var(--app-width);
  transform: translateX(-50%);
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--c-white);
  border-top: var(--b-s);
  z-index: 100;
}

.footerButton {
  flex: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: var(--fs-m);
  color: var(--c-lapis-lazuli);
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  padding: var(--p-s);
}

.footerButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--c-orange-wheel);
  transition:
    width 0.3s,
    left 0.3s;
}

.activeButton {
  color: var(--c-orange-wheel);
  font-weight: var(--fw-500);
}

.activeButton::after {
  width: 70%;
  left: 15%;
}

/* Active slide styling */
.swipeableContainer .swipeableSlide[aria-hidden="false"] {
  opacity: 1;
  transform: scale(1);
}
