.activitiesContainer {
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  background: var(--c-white);
  display: flex;
  z-index: 1;
  white-space: nowrap;
  flex-shrink: 0;
  container-type: inline-size;
}

.scrollGradient {
  background: linear-gradient(to right, transparent, var(--c-white));
  pointer-events: none;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.tabsContainer {
  position: relative;
  overflow-x: auto;
  display: flex;
}

.tab {
  border: var(--b-m);
  background: var(--c-white);
  border-radius: var(--br-m) var(--br-m) 0 0;
  padding: var(--p-s);
  border-color: var(--c-lapis-lazuli) var(--c-lapis-lazuli) transparent
    var(--c-lapis-lazuli);
  height: 68px;
  white-space: break-spaces;
  min-width: 140px;
}

.tab:not(:first-child) {
  margin-left: var(--g-s);
}

.tab.active {
  position: relative;
  background: var(--c-mint-green);
  z-index: 1;
}

.borderBottom {
  border-bottom: 2px solid var(--c-lapis-lazuli);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.25);
}

.footerGradient {
  background: linear-gradient(180deg, transparent, var(--c-white));
  bottom: 100%;
  content: "";
  height: var(--footer-height);
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@container (min-width: 436px) {
  .scrollGradient {
    display: none;
  }
}
